In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [2]:
# Create a reference the CSV file desired
csv_path ="Resources/Police_Department_Incident_Reports__2018_to_Present.csv"

#Read the csv
police_reports = pd.read_csv(csv_path)

# Print the first five rows of data to the screen
police_reports.head()

,Incident Datetime,Incident Date,Incident Time,Incident Year,Incident Day of Week,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,...,Longitude,Point,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts
0,2021/08/03 10:00:00 AM,2021/08/03,10:00,2021,Tuesday,2021/08/15 03:40:00 PM,106057809250,1060578,210520957,212272109.0,...,-122.402708,POINT (-122.40270815508224 37.78325923532804),32.0,NaN,NaN,NaN,NaN,NaN,10.0,1.0
1,2021/11/23 07:38:00 AM,2021/11/23,07:38,2021,Tuesday,2021/11/23 11:14:00 AM,109461026030,1094610,210773093,213270579.0,...,-122.430629,POINT (-122.4306290861244 37.77303929797831),26.0,NaN,NaN,NaN,NaN,NaN,11.0,4.0
2,2021/07/04 09:15:00 AM,2021/07/04,09:15,2021,Sunday,2021/07/04 11:14:00 AM,104877706244,1048777,216090059,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021/10/15 08:49:00 AM,2021/10/15,08:49,2021,Friday,2021/10/15 08:49:00 AM,109331362040,1093313,219002500,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021/08/24 05:17:00 AM,2021/08/24,05:17,2021,Tuesday,2021/08/24 05:18:00 AM,106324707041,1063247,210427591,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
# Droppping non-regression related columns
incident_reports = police_reports.drop(columns=["Filed Online", "Police District", "Report Type Description", 
                                                "Incident Description", "Incident Subcategory", "Incident Day of Week", 
                                               "Resolution", "Intersection"])
incident_reports.head()

,Incident Datetime,Incident Date,Incident Time,Incident Year,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,Report Type Code,...,Longitude,Point,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts
0,2021/08/03 10:00:00 AM,2021/08/03,10:00,2021,2021/08/15 03:40:00 PM,106057809250,1060578,210520957,212272109.0,II,...,-122.402708,POINT (-122.40270815508224 37.78325923532804),32.0,NaN,NaN,NaN,NaN,NaN,10.0,1.0
1,2021/11/23 07:38:00 AM,2021/11/23,07:38,2021,2021/11/23 11:14:00 AM,109461026030,1094610,210773093,213270579.0,II,...,-122.430629,POINT (-122.4306290861244 37.77303929797831),26.0,NaN,NaN,NaN,NaN,NaN,11.0,4.0
2,2021/07/04 09:15:00 AM,2021/07/04,09:15,2021,2021/07/04 11:14:00 AM,104877706244,1048777,216090059,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021/10/15 08:49:00 AM,2021/10/15,08:49,2021,2021/10/15 08:49:00 AM,109331362040,1093313,219002500,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021/08/24 05:17:00 AM,2021/08/24,05:17,2021,2021/08/24 05:18:00 AM,106324707041,1063247,210427591,NaN,VS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# Extracting only the year and month from the date columns
def extract_year_month(date_str):
    return "-".join(date_str.split("/")[:2])
incident_reports["Incident Year-Month"] = incident_reports["Incident Date"].apply(extract_year_month)
incident_reports["Report Year-Month"] = incident_reports["Incident Date"].apply(extract_year_month)
incident_reports.head()

,Incident Datetime,Incident Date,Incident Time,Incident Year,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,Report Type Code,...,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts,Incident Year-Month,Report Year-Month
0,2021/08/03 10:00:00 AM,2021/08/03,10:00,2021,2021/08/15 03:40:00 PM,106057809250,1060578,210520957,212272109.0,II,...,32.0,NaN,NaN,NaN,NaN,NaN,10.0,1.0,2021-08,2021-08
1,2021/11/23 07:38:00 AM,2021/11/23,07:38,2021,2021/11/23 11:14:00 AM,109461026030,1094610,210773093,213270579.0,II,...,26.0,NaN,NaN,NaN,NaN,NaN,11.0,4.0,2021-11,2021-11
2,2021/07/04 09:15:00 AM,2021/07/04,09:15,2021,2021/07/04 11:14:00 AM,104877706244,1048777,216090059,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07,2021-07
3,2021/10/15 08:49:00 AM,2021/10/15,08:49,2021,2021/10/15 08:49:00 AM,109331362040,1093313,219002500,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10,2021-10
4,2021/08/24 05:17:00 AM,2021/08/24,05:17,2021,2021/08/24 05:18:00 AM,106324707041,1063247,210427591,NaN,VS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08,2021-08

In [20]:
#Get rid of 2023
incident_report_no2023 = incident_reports.loc[incident_reports["Incident Year"]<2023]
incident_report_no2023

,Incident Datetime,Incident Date,Incident Time,Incident Year,Report Datetime,Row ID,Incident ID,Incident Number,CAD Number,Report Type Code,...,Neighborhoods,ESNCAG - Boundary File,Central Market/Tenderloin Boundary Polygon - Updated,Civic Center Harm Reduction Project Boundary,HSOC Zones as of 2018-06-05,Invest In Neighborhoods (IIN) Areas,Current Supervisor Districts,Current Police Districts,Incident Year-Month,Report Year-Month
0,2021/08/03 10:00:00 AM,2021/08/03,10:00,2021,2021/08/15 03:40:00 PM,106057809250,1060578,210520957,212272109.0,II,...,32.0,NaN,NaN,NaN,NaN,NaN,10.0,1.0,2021-08,2021-08
1,2021/11/23 07:38:00 AM,2021/11/23,07:38,2021,2021/11/23 11:14:00 AM,109461026030,1094610,210773093,213270579.0,II,...,26.0,NaN,NaN,NaN,NaN,NaN,11.0,4.0,2021-11,2021-11
2,2021/07/04 09:15:00 AM,2021/07/04,09:15,2021,2021/07/04 11:14:00 AM,104877706244,1048777,216090059,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-07,2021-07
3,2021/10/15 08:49:00 AM,2021/10/15,08:49,2021,2021/10/15 08:49:00 AM,109331362040,1093313,219002500,NaN,II,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-10,2021-10
4,2021/08/24 05:17:00 AM,2021/08/24,05:17,2021,2021/08/24 05:18:00 AM,106324707041,1063247,210427591,NaN,VS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2021-08,2021-08
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
706199,2022/06/16 11:45:00 AM,2022/06/16,11:45,2022,2022/07/11 04:56:00 PM,117214706244,1172147,226105983,NaN,IS,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2022-06,2022-06
706200,2021/11/22 09:00:00 AM,2021/11/22,09:00,2021,2021/11/24 01:29:00 PM,109517828160,1095178,210776144,213281745.0,II,...,16.0,NaN,NaN,NaN,NaN,NaN,3.0,6.0,2021-11,2021-11
706201,2021/08/13 12:10:00 AM,2021/08/13,00:10,2021,2021/08/13 03:15:00 AM,105980672000,1059806,210514819,212250035.0,II,...,50.0,NaN,NaN,NaN,NaN,NaN,3.0,6.0,2021-08,2021-08
706202,2021/05/19 11:30:00 AM,2021/05/19,11:30,2021,2021/05/19 11:36:00 AM,103188664085,1031886,210307545,211391297.0,II,...,87.0,NaN,NaN,NaN,NaN,NaN,9.0,2.0,2021-05,2021-05
706203,2021/06/05 12:57:00 AM,2021/06/05,00:57,2021,2021/06/05 01:09:00 AM,103710304170,1037103,210347535,211553110.0,IS,...,32.0,NaN,1.0,1.0,1.0,NaN,10.0,5.0,2021-06,2021-06

In [15]:
# Keeping the columns we need.
incident_report_reduced = incident_report_no2023[["Analysis Neighborhood","Incident Year-Month","Incident Category"]]
incident_report_reduced

,Analysis Neighborhood,Incident Year-Month,Incident Category
0,Financial District/South Beach,2021-08,Fraud
1,Hayes Valley,2021-11,Arson
2,NaN,2021-07,Larceny Theft
3,NaN,2021-10,Warrant
4,NaN,2021-08,Recovered Vehicle
...,...,...,...
706199,NaN,2022-06,Larceny Theft
706200,Nob Hill,2021-11,Malicious Mischief
706201,Nob Hill,2021-08,Non-Criminal
706202,Bayview Hunters Point,2021-05,Other Miscellaneous
706203,South of Market,2021-06,Assault

In [31]:
#Dropping NaN values.
dropnan = incident_report_reduced.dropna(how="any")
dropnan
#incident_report_reduced["Analysis Neighborhood"].unique

,Analysis Neighborhood,Incident Year-Month,Incident Category
0,Financial District/South Beach,2021-08,Fraud
1,Hayes Valley,2021-11,Arson
5,Japantown,2021-10,Larceny Theft
13,Marina,2021-06,Non-Criminal
14,Visitacion Valley,2021-06,Arson
...,...,...,...
706198,Mission,2021-05,Burglary
706200,Nob Hill,2021-11,Malicious Mischief
706201,Nob Hill,2021-08,Non-Criminal
706202,Bayview Hunters Point,2021-05,Other Miscellaneous
706203,South of Market,2021-06,Assault

In [35]:
#Checking we drop all the NaN values.
dropnan.count()

Analysis Neighborhood    644583
Incident Year-Month      644583
Incident Category        644583
dtype: int64

In [32]:
#Reset Index to be able to rename our columns.
incident_report_index = dropnan.reset_index()
incident_report_index

,index,Analysis Neighborhood,Incident Year-Month,Incident Category
0,0,Financial District/South Beach,2021-08,Fraud
1,1,Hayes Valley,2021-11,Arson
2,5,Japantown,2021-10,Larceny Theft
3,13,Marina,2021-06,Non-Criminal
4,14,Visitacion Valley,2021-06,Arson
...,...,...,...,...
644578,706198,Mission,2021-05,Burglary
644579,706200,Nob Hill,2021-11,Malicious Mischief
644580,706201,Nob Hill,2021-08,Non-Criminal
644581,706202,Bayview Hunters Point,2021-05,Other Miscellaneous
644582,706203,South of Market,2021-06,Assault

In [34]:
#Group by neighborhood and incident year.
grouped_neighborhood_df = dropnan.groupby(["Analysis Neighborhood","Incident Year-Month"]).count()
grouped_neighborhood_df

                                           Incident Category
Analysis Neighborhood Incident Year-Month
Bayview Hunters Point 2018-01                            751
                      2018-02                            653
                      2018-03                            620
                      2018-04                            673
                      2018-05                            682
...                                                      ...
Western Addition      2022-08                            358
                      2022-09                            376
                      2022-10                            378
                      2022-11                            359
                      2022-12                            317

[2460 rows x 1 columns]

In [25]:
#Turn our Groupby into a DataFrame
grouped = pd.DataFrame(grouped_neighborhood_df)
grouped

                                           Incident Category
Analysis Neighborhood Incident Year-Month
Bayview Hunters Point 2018-01                            751
                      2018-02                            653
                      2018-03                            620
                      2018-04                            673
                      2018-05                            682
...                                                      ...
Western Addition      2022-08                            358
                      2022-09                            376
                      2022-10                            378
                      2022-11                            359
                      2022-12                            317

[2460 rows x 1 columns]

In [54]:
#Reset the index
grouped_index = grouped.reset_index()
grouped_index

      Analysis Neighborhood Incident Year-Month  Number of Crimes
0     Bayview Hunters Point             2018-01               751
1     Bayview Hunters Point             2018-02               653
2     Bayview Hunters Point             2018-03               620
3     Bayview Hunters Point             2018-04               673
4     Bayview Hunters Point             2018-05               682
...                     ...                 ...               ...
2455       Western Addition             2022-08               358
2456       Western Addition             2022-09               376
2457       Western Addition             2022-10               378
2458       Western Addition             2022-11               359
2459       Western Addition             2022-12               317

[2460 rows x 3 columns]

In [55]:
#Rename th column to match the zillow_df column`s names.
grouped_index = grouped_index.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Category":"Number of Crimes"})
grouped_index

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               751
1     Bayview Hunters Point  2018-02               653
2     Bayview Hunters Point  2018-03               620
3     Bayview Hunters Point  2018-04               673
4     Bayview Hunters Point  2018-05               682
...                     ...      ...               ...
2455       Western Addition  2022-08               358
2456       Western Addition  2022-09               376
2457       Western Addition  2022-10               378
2458       Western Addition  2022-11               359
2459       Western Addition  2022-12               317

[2460 rows x 3 columns]

In [57]:
#New DataFrame with the renamed columns.
crime_regression = pd.DataFrame(grouped_index)

In [59]:
#Save our final DataFrame as a csv.
crime_regression.to_csv("crime_regression.csv", index=False)