In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import scipy.stats as st

In [31]:
# Create a reference the CSV file desired
csv_path ="crime_df_incident_category.csv"
csv_path_2 = "zillow_regression.csv"
csv_path_3="population_neighborhood.csv"


#Read the csv
crime_per_type_incident = pd.read_csv(csv_path)
zillow_df = pd.read_csv(csv_path_2)
population_df= pd.read_csv(csv_path_3)

# Print the first five rows of data to the screen

crime_per_type_incident

,index,Analysis Neighborhood,Incident Year-Month,Incident Category
0,0,Financial District/South Beach,2021-08,Fraud
1,1,Hayes Valley,2021-11,Arson
2,5,Japantown,2021-10,Larceny Theft
3,13,Marina,2021-06,Non-Criminal
4,14,Visitacion Valley,2021-06,Arson
...,...,...,...,...
644578,706198,Mission,2021-05,Burglary
644579,706200,Nob Hill,2021-11,Malicious Mischief
644580,706201,Nob Hill,2021-08,Non-Criminal
644581,706202,Bayview Hunters Point,2021-05,Other Miscellaneous
644582,706203,South of Market,2021-06,Assault

In [13]:
#Rename columns to merge witht the zillow data frame later.
crime_type_incident = crime_per_type_incident.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Category":"Number of Crimes"})
crime_type_incident

         index                    Neighborhood     Date     Number of Crimes
0            0  Financial District/South Beach  2021-08                Fraud
1            1                    Hayes Valley  2021-11                Arson
2            5                       Japantown  2021-10        Larceny Theft
3           13                          Marina  2021-06         Non-Criminal
4           14               Visitacion Valley  2021-06                Arson
...        ...                             ...      ...                  ...
644578  706198                         Mission  2021-05             Burglary
644579  706200                        Nob Hill  2021-11   Malicious Mischief
644580  706201                        Nob Hill  2021-08         Non-Criminal
644581  706202           Bayview Hunters Point  2021-05  Other Miscellaneous
644582  706203                 South of Market  2021-06              Assault

[644583 rows x 4 columns]

In [15]:
# making dataframes based on type of crime
violent_crimes = ["Assult", "Larceny Theft", "Burglary", "Motor Vehicle Theft", "Robbery",
                  "Weapons Offense", "Arson", "Rape", "Homicide",
                  "Human Trafficking"]

nonviolent_crimes = ["Malicious Mischeif", "Other Miscellaneous", "Fraud", "Drug Offense",
                     "Disorderly Conduct", "Offences Against The Family And Children",
                     "Traffic Violation Arrest", "Weapons Carrying Etc",
                     "Stolen Property", "Forgery and Counterfeiting", "Traffic Collision",
                     "Vandalism", "Prostitution", "Embezzlement", "Civil Sidewalks",
                     "Sex Offense", "Drug Violation", "Malicious Mischief", "Gambling"]

misc_disturbance = ["Liquor Laws ", "Missing Person", "Suspicious Activity", "Miscellaneous Investigation",
        "Other Offenses", "Courtesy Report", "Fire Report", "Vehicle Impounded", "Suicide"]

get_rid_of = ["Non-Criminal", "Recovered Vehicles", "Lost Property", "Warrant", "Other", 
              "Case Closure", "Vehicle Misplaced"]


violent_crimes_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(violent_crimes)]
nonviolent_crimes_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(nonviolent_crimes)]
misc_disturbance_df = crime_type_incident.loc[crime_type_incident["Number of Crimes"].isin(misc_disturbance)]

In [28]:
#violent_crimes_df

In [12]:
#nonviolent_crimes_df

In [10]:
#misc_disturbance_df

In [17]:
#Group by neighborhood and date.
grouped_violent_crimes_df = violent_crimes_df.groupby(["Neighborhood","Date"]).count()
grouped_nonviolent_crimes_df = nonviolent_crimes_df.groupby(["Neighborhood","Date"]).count()
grouped_misc_disturbance_df= misc_disturbance_df.groupby(["Neighborhood","Date"]).count()

In [23]:
#Merge the zillow data frame with the data frames for violent and non violent crimes
merge_violent_crimes_df = pd.merge(grouped_violent_crimes_df,zillow_df,on=["Neighborhood","Date"])
merge_nonviolent_crimes_df=pd.merge(grouped_nonviolent_crimes_df,zillow_df,on=["Neighborhood","Date"])

In [32]:
#merge_violent_crimes_df

In [33]:
#merge_nonviolent_crimes_df

In [29]:
#Getting the final 
violent_crimes_prices =  merge_violent_crimes_df[["Neighborhood","Date","Price","Number of Crimes"]]
violent_crimes_prices

               Neighborhood     Date         Price  Number of Crimes
0     Bayview Hunters Point  2018-01  8.313694e+05               229
1     Bayview Hunters Point  2018-02  8.368342e+05               196
2     Bayview Hunters Point  2018-03  8.423898e+05               207
3     Bayview Hunters Point  2018-04  8.467867e+05               213
4     Bayview Hunters Point  2018-05  8.547810e+05               218
...                     ...      ...           ...               ...
2034       Western Addition  2022-08  1.105756e+06               153
2035       Western Addition  2022-09  1.082914e+06               184
2036       Western Addition  2022-10  1.064080e+06               168
2037       Western Addition  2022-11  1.049605e+06               166
2038       Western Addition  2022-12  1.037988e+06               146

[2039 rows x 4 columns]

In [30]:
nonviolent_crimes_prices =  merge_nonviolent_crimes_df[["Neighborhood","Date","Price","Number of Crimes"]]
nonviolent_crimes_prices

               Neighborhood     Date         Price  Number of Crimes
0     Bayview Hunters Point  2018-01  8.313694e+05               268
1     Bayview Hunters Point  2018-02  8.368342e+05               195
2     Bayview Hunters Point  2018-03  8.423898e+05               218
3     Bayview Hunters Point  2018-04  8.467867e+05               199
4     Bayview Hunters Point  2018-05  8.547810e+05               193
...                     ...      ...           ...               ...
2028       Western Addition  2022-08  1.105756e+06                96
2029       Western Addition  2022-09  1.082914e+06                93
2030       Western Addition  2022-10  1.064080e+06                88
2031       Western Addition  2022-11  1.049605e+06                80
2032       Western Addition  2022-12  1.037988e+06                77

[2033 rows x 4 columns]

In [34]:
#Merging violent and non violent data frames with the population to get the crime rate.
violent_crimes_population = pd.merge(violent_crimes_prices,population_df,on=["Neighborhood"])
nonviolent_crimes_population = pd.merge(nonviolent_crimes_prices,population_df,on=["Neighborhood"])
violent_crimes_population 
nonviolent_crimes_population

,Neighborhood,Date,Price,Number of Crimes,Population
0,Bayview Hunters Point,2018-01,8.313694e+05,268,38480.0
1,Bayview Hunters Point,2018-02,8.368342e+05,195,38480.0
2,Bayview Hunters Point,2018-03,8.423898e+05,218,38480.0
3,Bayview Hunters Point,2018-04,8.467867e+05,199,38480.0
4,Bayview Hunters Point,2018-05,8.547810e+05,193,38480.0
...,...,...,...,...,...
2028,Western Addition,2022-08,1.105756e+06,96,22299.0
2029,Western Addition,2022-09,1.082914e+06,93,22299.0
2030,Western Addition,2022-10,1.064080e+06,88,22299.0
2031,Western Addition,2022-11,1.049605e+06,80,22299.0
2032,Western Addition,2022-12,1.037988e+06,77,22299.0

In [39]:
#Getting the crime rate
violent_crimes_population["Crime Rate"] =(violent_crimes_population ["Number of Crimes"]/violent_crimes_population["Population"])
nonviolent_crimes_population["Crime Rate"] =(nonviolent_crimes_population ["Number of Crimes"]/nonviolent_crimes_population["Population"])
violent_crimes_population

,Neighborhood,Date,Price,Number of Crimes,Population,Crime Rate
0,Bayview Hunters Point,2018-01,8.313694e+05,229,38480.0,0.005951
1,Bayview Hunters Point,2018-02,8.368342e+05,196,38480.0,0.005094
2,Bayview Hunters Point,2018-03,8.423898e+05,207,38480.0,0.005379
3,Bayview Hunters Point,2018-04,8.467867e+05,213,38480.0,0.005535
4,Bayview Hunters Point,2018-05,8.547810e+05,218,38480.0,0.005665
...,...,...,...,...,...,...
2034,Western Addition,2022-08,1.105756e+06,153,22299.0,0.006861
2035,Western Addition,2022-09,1.082914e+06,184,22299.0,0.008251
2036,Western Addition,2022-10,1.064080e+06,168,22299.0,0.007534
2037,Western Addition,2022-11,1.049605e+06,166,22299.0,0.007444
2038,Western Addition,2022-12,1.037988e+06,146,22299.0,0.006547

In [40]:
nonviolent_crimes_population

,Neighborhood,Date,Price,Number of Crimes,Population,Crime Rate
0,Bayview Hunters Point,2018-01,8.313694e+05,268,38480.0,0.006965
1,Bayview Hunters Point,2018-02,8.368342e+05,195,38480.0,0.005068
2,Bayview Hunters Point,2018-03,8.423898e+05,218,38480.0,0.005665
3,Bayview Hunters Point,2018-04,8.467867e+05,199,38480.0,0.005172
4,Bayview Hunters Point,2018-05,8.547810e+05,193,38480.0,0.005016
...,...,...,...,...,...,...
2028,Western Addition,2022-08,1.105756e+06,96,22299.0,0.004305
2029,Western Addition,2022-09,1.082914e+06,93,22299.0,0.004171
2030,Western Addition,2022-10,1.064080e+06,88,22299.0,0.003946
2031,Western Addition,2022-11,1.049605e+06,80,22299.0,0.003588
2032,Western Addition,2022-12,1.037988e+06,77,22299.0,0.003453

In [41]:
#Getting the correlation between prices and violent crimes
violent_crimes_price_rate = violent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
nonviolent_crimes_price_rate = nonviolent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
violent_crimes_price_rate
nonviolent_crimes_price_rate

         Date           Neighborhood         Price  Crime Rate
0     2018-01  Bayview Hunters Point  8.313694e+05    0.006965
1     2018-02  Bayview Hunters Point  8.368342e+05    0.005068
2     2018-03  Bayview Hunters Point  8.423898e+05    0.005665
3     2018-04  Bayview Hunters Point  8.467867e+05    0.005172
4     2018-05  Bayview Hunters Point  8.547810e+05    0.005016
...       ...                    ...           ...         ...
2028  2022-08       Western Addition  1.105756e+06    0.004305
2029  2022-09       Western Addition  1.082914e+06    0.004171
2030  2022-10       Western Addition  1.064080e+06    0.003946
2031  2022-11       Western Addition  1.049605e+06    0.003588
2032  2022-12       Western Addition  1.037988e+06    0.003453

[2033 rows x 4 columns]

In [42]:
corr_violent_prices =violent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_violent_prices=corr_violent_prices.rename(columns={"Crime Rate":"Pearson"})
corr_violent_prices=corr_violent_prices[["Neighborhood","Pearson"]]
corr_violent_prices

                      Neighborhood   Pearson
0            Bayview Hunters Point  0.272727
1                   Bernal Heights  0.153859
2                        Excelsior  0.215841
3   Financial District/South Beach  0.331098
4                        Glen Park  0.262522
5                   Haight Ashbury -0.050521
6                     Hayes Valley -0.013000
7                   Inner Richmond -0.105760
8                     Inner Sunset  0.276406
9                        Japantown  0.029510
10                       Lakeshore  0.510302
11               Lone Mountain/USF -0.021732
12                          Marina  0.111749
13                         Mission -0.181252
14                     Mission Bay -0.122326
15                        Nob Hill  0.196288
16                      Noe Valley  0.274871
17                     North Beach -0.324590
18      Oceanview/Merced/Ingleside  0.197026
19                   Outer Mission  0.120700
20                  Outer Richmond  0.086395
21                 Pacific Heights -0.062052
22                         Portola -0.177718
23                    Potrero Hill -0.129593
24                        Presidio -0.018830
25                Presidio Heights -0.186641
26                    Russian Hill -0.055105
27                        Seacliff  0.401112
28                 South of Market  0.251508
29                      Tenderloin  0.438296
30                      Twin Peaks -0.032434
31               Visitacion Valley -0.148379
32              West of Twin Peaks  0.096725
33                Western Addition -0.219652

In [43]:
corr_nonviolent_prices =nonviolent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_nonviolent_prices=corr_nonviolent_prices.rename(columns={"Crime Rate":"Pearson"})
corr_nonviolent_prices=corr_nonviolent_prices[["Neighborhood","Pearson"]]
corr_nonviolent_prices

                      Neighborhood   Pearson
0            Bayview Hunters Point -0.071675
1                   Bernal Heights -0.094583
2                        Excelsior -0.524779
3   Financial District/South Beach  0.138478
4                        Glen Park -0.243097
5                   Haight Ashbury -0.388200
6                     Hayes Valley  0.135509
7                   Inner Richmond -0.206224
8                     Inner Sunset -0.167807
9                        Japantown  0.020956
10                       Lakeshore  0.001377
11               Lone Mountain/USF -0.279376
12                          Marina  0.238205
13                         Mission -0.385033
14                     Mission Bay -0.095269
15                        Nob Hill  0.168973
16                      Noe Valley  0.218433
17                     North Beach -0.038457
18      Oceanview/Merced/Ingleside -0.097234
19                   Outer Mission -0.403982
20                  Outer Richmond -0.037882
21                 Pacific Heights -0.039787
22                         Portola -0.020290
23                    Potrero Hill -0.218905
24                        Presidio -0.043902
25                Presidio Heights -0.056242
26                    Russian Hill -0.212468
27                        Seacliff -0.033377
28                 South of Market  0.087409
29                      Tenderloin  0.030300
30                      Twin Peaks -0.190103
31               Visitacion Valley -0.687258
32              West of Twin Peaks -0.149207
33                Western Addition -0.098856