# Calculating the correlation between home values and the crime rate in each neighborhood for violent and non-violent crimes.

In [3]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#import scipy.stats as st
from scipy.stats import linregress
from sklearn import datasets

In [4]:
# Create a reference the CSV files desired
csv_path ="nonviolent_crimes_regression.csv"
csv_path_1="violent_crimes_regression.csv"
csv_path_3="population_neighborhood.csv"
csv_path_4 = "zillow_regression.csv"

#Read the csvs
violent_df= pd.read_csv(csv_path)
nonviolent_df = pd.read_csv(csv_path_1)
population_df= pd.read_csv(csv_path_3)
zillow_df = pd.read_csv(csv_path_4)

# Print the Data Frame
violent_df

      Analysis Neighborhood Incident Year-Month  Incident Datetime
0     Bayview Hunters Point             2018-01                153
1     Bayview Hunters Point             2018-02                103
2     Bayview Hunters Point             2018-03                144
3     Bayview Hunters Point             2018-04                134
4     Bayview Hunters Point             2018-05                118
...                     ...                 ...                ...
2407       Western Addition             2022-08                 64
2408       Western Addition             2022-09                 59
2409       Western Addition             2022-10                 65
2410       Western Addition             2022-11                 52
2411       Western Addition             2022-12                 52

[2412 rows x 3 columns]

In [5]:
nonviolent_df

      Analysis Neighborhood Incident Year-Month  Incident Datetime
0     Bayview Hunters Point             2018-01                209
1     Bayview Hunters Point             2018-02                188
2     Bayview Hunters Point             2018-03                202
3     Bayview Hunters Point             2018-04                206
4     Bayview Hunters Point             2018-05                218
...                     ...                 ...                ...
2452       Western Addition             2022-08                103
2453       Western Addition             2022-09                130
2454       Western Addition             2022-10                129
2455       Western Addition             2022-11                117
2456       Western Addition             2022-12                113

[2457 rows x 3 columns]

In [6]:
violent_df_index = violent_df.reset_index(drop=True)
violent_df_index

      Analysis Neighborhood Incident Year-Month  Incident Datetime
0     Bayview Hunters Point             2018-01                153
1     Bayview Hunters Point             2018-02                103
2     Bayview Hunters Point             2018-03                144
3     Bayview Hunters Point             2018-04                134
4     Bayview Hunters Point             2018-05                118
...                     ...                 ...                ...
2407       Western Addition             2022-08                 64
2408       Western Addition             2022-09                 59
2409       Western Addition             2022-10                 65
2410       Western Addition             2022-11                 52
2411       Western Addition             2022-12                 52

[2412 rows x 3 columns]

In [7]:
#Rename columns to merge witht the zillow data frame later.
violent_df_index_rename = violent_df_index.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Datetime":"Number of Crimes"})
violent_df_index_rename

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               153
1     Bayview Hunters Point  2018-02               103
2     Bayview Hunters Point  2018-03               144
3     Bayview Hunters Point  2018-04               134
4     Bayview Hunters Point  2018-05               118
...                     ...      ...               ...
2407       Western Addition  2022-08                64
2408       Western Addition  2022-09                59
2409       Western Addition  2022-10                65
2410       Western Addition  2022-11                52
2411       Western Addition  2022-12                52

[2412 rows x 3 columns]

In [8]:
#Rename columns to merge witht the zillow data frame later.
nonviolent_df_rename = nonviolent_df.rename(columns={"Analysis Neighborhood":"Neighborhood","Incident Year-Month":"Date","Incident Datetime":"Number of Crimes"})
nonviolent_df_rename

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               209
1     Bayview Hunters Point  2018-02               188
2     Bayview Hunters Point  2018-03               202
3     Bayview Hunters Point  2018-04               206
4     Bayview Hunters Point  2018-05               218
...                     ...      ...               ...
2452       Western Addition  2022-08               103
2453       Western Addition  2022-09               130
2454       Western Addition  2022-10               129
2455       Western Addition  2022-11               117
2456       Western Addition  2022-12               113

[2457 rows x 3 columns]

In [9]:
non_violent_df_rename=nonviolent_df_rename[["Neighborhood","Date","Number of Crimes"]]
non_violent_df_rename

               Neighborhood     Date  Number of Crimes
0     Bayview Hunters Point  2018-01               209
1     Bayview Hunters Point  2018-02               188
2     Bayview Hunters Point  2018-03               202
3     Bayview Hunters Point  2018-04               206
4     Bayview Hunters Point  2018-05               218
...                     ...      ...               ...
2452       Western Addition  2022-08               103
2453       Western Addition  2022-09               130
2454       Western Addition  2022-10               129
2455       Western Addition  2022-11               117
2456       Western Addition  2022-12               113

[2457 rows x 3 columns]

In [10]:
#Merge the zillow data frame with the data frames for violent and non violent crimes
merge_violent_crimes_df = pd.merge(violent_df_index_rename,zillow_df,on=["Neighborhood","Date"])
merge_nonviolent_crimes_df=pd.merge(non_violent_df_rename,zillow_df,on=["Neighborhood","Date"])

In [11]:
merge_violent_crimes_df

               Neighborhood     Date  Number of Crimes         Price
0     Bayview Hunters Point  2018-01               153  8.313694e+05
1     Bayview Hunters Point  2018-02               103  8.368342e+05
2     Bayview Hunters Point  2018-03               144  8.423898e+05
3     Bayview Hunters Point  2018-04               134  8.467867e+05
4     Bayview Hunters Point  2018-05               118  8.547810e+05
...                     ...      ...               ...           ...
2019       Western Addition  2022-08                64  1.105756e+06
2020       Western Addition  2022-09                59  1.082914e+06
2021       Western Addition  2022-10                65  1.064080e+06
2022       Western Addition  2022-11                52  1.049605e+06
2023       Western Addition  2022-12                52  1.037988e+06

[2024 rows x 4 columns]

In [12]:
merge_nonviolent_crimes_df

               Neighborhood     Date  Number of Crimes         Price
0     Bayview Hunters Point  2018-01               209  8.313694e+05
1     Bayview Hunters Point  2018-02               188  8.368342e+05
2     Bayview Hunters Point  2018-03               202  8.423898e+05
3     Bayview Hunters Point  2018-04               206  8.467867e+05
4     Bayview Hunters Point  2018-05               218  8.547810e+05
...                     ...      ...               ...           ...
2034       Western Addition  2022-08               103  1.105756e+06
2035       Western Addition  2022-09               130  1.082914e+06
2036       Western Addition  2022-10               129  1.064080e+06
2037       Western Addition  2022-11               117  1.049605e+06
2038       Western Addition  2022-12               113  1.037988e+06

[2039 rows x 4 columns]

In [13]:
#Merging violent and non violent data frames with the population to get the crime rate.
violent_crimes_population = pd.merge(merge_violent_crimes_df,population_df,on=["Neighborhood"])
nonviolent_crimes_population = pd.merge(merge_nonviolent_crimes_df,population_df,on=["Neighborhood"])
violent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population
0,Bayview Hunters Point,2018-01,153,8.313694e+05,38480.0
1,Bayview Hunters Point,2018-02,103,8.368342e+05,38480.0
2,Bayview Hunters Point,2018-03,144,8.423898e+05,38480.0
3,Bayview Hunters Point,2018-04,134,8.467867e+05,38480.0
4,Bayview Hunters Point,2018-05,118,8.547810e+05,38480.0
...,...,...,...,...,...
2019,Western Addition,2022-08,64,1.105756e+06,22299.0
2020,Western Addition,2022-09,59,1.082914e+06,22299.0
2021,Western Addition,2022-10,65,1.064080e+06,22299.0
2022,Western Addition,2022-11,52,1.049605e+06,22299.0
2023,Western Addition,2022-12,52,1.037988e+06,22299.0

In [14]:
nonviolent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population
0,Bayview Hunters Point,2018-01,209,8.313694e+05,38480.0
1,Bayview Hunters Point,2018-02,188,8.368342e+05,38480.0
2,Bayview Hunters Point,2018-03,202,8.423898e+05,38480.0
3,Bayview Hunters Point,2018-04,206,8.467867e+05,38480.0
4,Bayview Hunters Point,2018-05,218,8.547810e+05,38480.0
...,...,...,...,...,...
2034,Western Addition,2022-08,103,1.105756e+06,22299.0
2035,Western Addition,2022-09,130,1.082914e+06,22299.0
2036,Western Addition,2022-10,129,1.064080e+06,22299.0
2037,Western Addition,2022-11,117,1.049605e+06,22299.0
2038,Western Addition,2022-12,113,1.037988e+06,22299.0

In [15]:
#Getting the crime rate per violent and non violent crimes.
violent_crimes_population["Crime Rate"] =(violent_crimes_population ["Number of Crimes"]/violent_crimes_population["Population"])*10000
nonviolent_crimes_population["Crime Rate"] =(nonviolent_crimes_population ["Number of Crimes"]/nonviolent_crimes_population["Population"])*10000
violent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population,Crime Rate
0,Bayview Hunters Point,2018-01,153,8.313694e+05,38480.0,39.760915
1,Bayview Hunters Point,2018-02,103,8.368342e+05,38480.0,26.767152
2,Bayview Hunters Point,2018-03,144,8.423898e+05,38480.0,37.422037
3,Bayview Hunters Point,2018-04,134,8.467867e+05,38480.0,34.823285
4,Bayview Hunters Point,2018-05,118,8.547810e+05,38480.0,30.665281
...,...,...,...,...,...,...
2019,Western Addition,2022-08,64,1.105756e+06,22299.0,28.700839
2020,Western Addition,2022-09,59,1.082914e+06,22299.0,26.458586
2021,Western Addition,2022-10,65,1.064080e+06,22299.0,29.149289
2022,Western Addition,2022-11,52,1.049605e+06,22299.0,23.319431
2023,Western Addition,2022-12,52,1.037988e+06,22299.0,23.319431

In [16]:
nonviolent_crimes_population

,Neighborhood,Date,Number of Crimes,Price,Population,Crime Rate
0,Bayview Hunters Point,2018-01,209,8.313694e+05,38480.0,54.313929
1,Bayview Hunters Point,2018-02,188,8.368342e+05,38480.0,48.856549
2,Bayview Hunters Point,2018-03,202,8.423898e+05,38480.0,52.494802
3,Bayview Hunters Point,2018-04,206,8.467867e+05,38480.0,53.534304
4,Bayview Hunters Point,2018-05,218,8.547810e+05,38480.0,56.652807
...,...,...,...,...,...,...
2034,Western Addition,2022-08,103,1.105756e+06,22299.0,46.190412
2035,Western Addition,2022-09,130,1.082914e+06,22299.0,58.298578
2036,Western Addition,2022-10,129,1.064080e+06,22299.0,57.850128
2037,Western Addition,2022-11,117,1.049605e+06,22299.0,52.468721
2038,Western Addition,2022-12,113,1.037988e+06,22299.0,50.674918

In [17]:
#Getting the correlation between home values ("prices" in the column) and violent crimes.
violent_crimes_price_rate = violent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
nonviolent_crimes_price_rate = nonviolent_crimes_population[["Date","Neighborhood","Price","Crime Rate"]]
violent_crimes_price_rate
nonviolent_crimes_price_rate

         Date           Neighborhood         Price  Crime Rate
0     2018-01  Bayview Hunters Point  8.313694e+05   54.313929
1     2018-02  Bayview Hunters Point  8.368342e+05   48.856549
2     2018-03  Bayview Hunters Point  8.423898e+05   52.494802
3     2018-04  Bayview Hunters Point  8.467867e+05   53.534304
4     2018-05  Bayview Hunters Point  8.547810e+05   56.652807
...       ...                    ...           ...         ...
2034  2022-08       Western Addition  1.105756e+06   46.190412
2035  2022-09       Western Addition  1.082914e+06   58.298578
2036  2022-10       Western Addition  1.064080e+06   57.850128
2037  2022-11       Western Addition  1.049605e+06   52.468721
2038  2022-12       Western Addition  1.037988e+06   50.674918

[2039 rows x 4 columns]

In [18]:
#Saving the Data Frames to plot them later.
violent_crimes_price_rate.to_csv("violent_crimes_price_rate.csv", index=False, header=True)
nonviolent_crimes_price_rate.to_csv("nonviolent_crimes_price_rate.csv", index=False, header=True)

In [19]:
#Correlation between violent crimes and prices in a given neighborhood
corr_violent_prices =violent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_violent_prices=corr_violent_prices.rename(columns={"Crime Rate":"Pearson Coefficient"})
corr_violent_prices=corr_violent_prices[["Neighborhood","Pearson Coefficient"]]
corr_violent_prices

                      Neighborhood  Pearson Coefficient
0            Bayview Hunters Point             0.154357
1                   Bernal Heights             0.172806
2                        Excelsior            -0.264021
3   Financial District/South Beach             0.135606
4                        Glen Park            -0.081876
5                   Haight Ashbury            -0.237402
6                     Hayes Valley             0.093500
7                   Inner Richmond             0.090541
8                     Inner Sunset            -0.099895
9                        Japantown             0.064393
10                       Lakeshore            -0.078294
11               Lone Mountain/USF            -0.285241
12                          Marina             0.296054
13                         Mission            -0.233783
14                     Mission Bay             0.062747
15                        Nob Hill             0.092348
16                      Noe Valley             0.218432
17                     North Beach             0.029052
18      Oceanview/Merced/Ingleside            -0.069571
19                   Outer Mission            -0.101011
20                  Outer Richmond             0.271534
21                 Pacific Heights             0.009423
22                         Portola             0.084725
23                    Potrero Hill             0.051905
24                        Presidio            -0.071705
25                Presidio Heights            -0.035869
26                    Russian Hill            -0.133574
27                        Seacliff             0.018555
28                 South of Market             0.072744
29                      Tenderloin            -0.263892
30                      Twin Peaks            -0.056497
31               Visitacion Valley            -0.593396
32              West of Twin Peaks            -0.010804
33                Western Addition             0.134767

In [20]:
#Correlation between non violent crimes and prices in a given neighborhood
corr_nonviolent_prices =nonviolent_crimes_price_rate.groupby("Neighborhood")[["Price","Crime Rate"]].corr().iloc[0::2,-1].reset_index()
corr_nonviolent_prices=corr_nonviolent_prices.rename(columns={"Crime Rate":"Pearson Coefficient"})
corr_nonviolent_prices=corr_nonviolent_prices[["Neighborhood","Pearson Coefficient"]]
corr_nonviolent_prices

                      Neighborhood  Pearson Coefficient
0            Bayview Hunters Point             0.339392
1                   Bernal Heights             0.258010
2                        Excelsior             0.095927
3   Financial District/South Beach             0.394698
4                        Glen Park             0.377925
5                   Haight Ashbury            -0.056223
6                     Hayes Valley            -0.252097
7                   Inner Richmond            -0.074418
8                     Inner Sunset             0.212965
9                        Japantown            -0.046448
10                       Lakeshore             0.539872
11               Lone Mountain/USF             0.068143
12                          Marina             0.178013
13                         Mission            -0.019244
14                     Mission Bay             0.137003
15                        Nob Hill             0.103731
16                      Noe Valley             0.202344
17                     North Beach            -0.261202
18      Oceanview/Merced/Ingleside             0.103631
19                   Outer Mission             0.131231
20                  Outer Richmond             0.291122
21                 Pacific Heights             0.138173
22                         Portola            -0.111296
23                    Potrero Hill             0.202672
24                        Presidio            -0.084024
25                Presidio Heights            -0.130360
26                    Russian Hill            -0.103987
27                        Seacliff             0.254272
28                 South of Market             0.260467
29                      Tenderloin             0.245816
30                      Twin Peaks            -0.089099
31               Visitacion Valley            -0.220366
32              West of Twin Peaks             0.292929
33                Western Addition             0.125781

In [21]:
#Saving the Dat Frame Neighborhood-Pearson Correlation Coefficient.
corr_violent_prices.to_csv("corr_violent_prices.csv", index=False, header=True)
corr_nonviolent_prices.to_csv("corr_nonviolent_prices.csv", index=False, header=True)

In [22]:
#wE will like to plot just some of the neighborhoods we have analysez. 
#Create a list of attributes to filter 
neighborhoods_to_filter = ["Mission", "Tenderloin","Presidio","Financial District/South Beach"]
#Filter the neighborhood column based on the list of attributes
corr_violent_prices_filterd = corr_violent_prices[corr_violent_prices["Neighborhood"].isin(neighborhoods_to_filter)]
corr_nonviolent_prices_filterd = corr_nonviolent_prices[corr_nonviolent_prices["Neighborhood"].isin(neighborhoods_to_filter)]

In [23]:
corr_violent_prices_filterd

                      Neighborhood  Pearson Coefficient
3   Financial District/South Beach             0.135606
13                         Mission            -0.233783
24                        Presidio            -0.071705
29                      Tenderloin            -0.263892

In [24]:
corr_nonviolent_prices_filterd

                      Neighborhood  Pearson Coefficient
3   Financial District/South Beach             0.394698
13                         Mission            -0.019244
24                        Presidio            -0.084024
29                      Tenderloin             0.245816

In [33]:
#Filter by Presidio neighborhood to plot 
#presidio_filter = ["Presidio"]
#violent_crimes_price_rate= violent_crimes_price_rate[violent_crimes_price_rate["Neighborhood"].isin(presidio_filter)]
#nonviolent_crimes_price_rate= nonviolent_crimes_price_rate[nonviolent_crimes_price_rate["Neighborhood"].isin(presidio_filter)]

In [34]:
#violent_crimes_price_rate

In [35]:
#violent_crimes_price_rate
#violent_crimes_price_rate_index = violent_crimes_price_rate.reset_index(drop=True)
#violent_crimes_price_rate_index

In [36]:
# For the violent crimes rates in Presidio, determine which pairs of factors are correlated. 
#plt.scatter(violent_crimes_price_rate_index.iloc[:,-1],violent_crimes_price_rate_index.iloc[:,2])
#plt.xlabel('Crime rate per 10,000 residents')
#plt.ylabel('Average House Value')
#plt.show()

In [37]:
# Add the linear regression equation and line to plot
#x_values = violent_crimes_price_rate['Crime Rate']
#y_values = violent_crimes_price_rate['Price']
#(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
#regress_values = x_values * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
#plt.scatter(x_values,y_values)
#plt.plot(x_values,regress_values,"r-")
#plt.annotate(line_eq,(5.8,0.8),fontsize=15,color="red")
#plt.xlabel('Crime rate per 10,000 residents')
#plt.ylabel('Median House prices')
print(f"The r-squared is: {rvalue**2}")
#plt.show()
#Since there is no correlation, the r-square values is not interesting for us.

The r-squared is: 0.005141574955380419

In [38]:
#nonviolent_crimes_price_rate
#nonviolent_crimes_price_rate_index = nonviolent_crimes_price_rate.reset_index(drop=True)
#violent_crimes_price_rate_index

In [39]:
# For the violent crimes rates in Presidio, determine which pairs of factors are correlated. 
#plt.scatter(nonviolent_crimes_price_rate_index.iloc[:,-1],nonviolent_crimes_price_rate_index.iloc[:,2])
#plt.xlabel('Crime rate per 10,000 residents')
#plt.ylabel('Average House Value')
#plt.show()

In [40]:
# Add the linear regression equation and line to plot
#x_values = nonviolent_crimes_price_rate['Crime Rate']
#y_values = nonviolent_crimes_price_rate['Price']
#(slope, intercept, rvalue, pvalue, stderr) = linregress(x_values, y_values)
#regress_values = x_values * slope + intercept
#line_eq = "y = " + str(round(slope,2)) + "x + " + str(round(intercept,2))
#plt.scatter(x_values,y_values)
#plt.plot(x_values,regress_values,"r-")
#plt.annotate(line_eq,(5.8,0.8),fontsize=15,color="red")
#plt.xlabel('Crime rate per 10,000 residents')
#plt.ylabel('Median House prices')
#print(f"The r-squared is: {rvalue**2}")
#plt.show()
#Since there is no correlation, the r-square values is not interesting for us.